<div style="display: flex;">
<mat-icon [routerLink]="['/']" class=" arrow material-symbols-outlined">arrow_back</mat-icon>
<h2>PRODUCT DETAILS</h2>
</div>
<div style="margin-left: 5rem;">
  <img *ngIf="product" mat-card-image class="detail-image" [src]="product.imageUrl" alt="Card image">

  <div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <h4>{{ product.price | currency }}</h4>
    <p>{{ product.description }}</p>
    <button type="button" (click)="addToCart(product)">Buy</button>
  </div>
</div>
