<h2>PRODUCTS</h2>

<div class="products">
  <mat-card class="example-card" *ngFor="let product of products" style="margin-top: 3rem;">
    <img mat-card-image class="example-header-image" [src]="product.imageUrl" alt="Card image">
    <mat-card-header>
      <h3>
        <!--[title] è una proprietà del tag a per visualizzare una stringa sul puntatore mouse all'hover sul link-->
        <a  [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
        {{ product.name }}
        </a>
      </h3>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="product.description">
        Description: {{ product.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button type="button" style="margin-right:0.5rem;" (click)="share()">
        Share
      </button>

      <app-product-alerts
        [childproduct]="product"
        (notify)="onNotify()">
      </app-product-alerts>

    </mat-card-actions>
  </mat-card>
</div>



